<a href="https://colab.research.google.com/github/hadilbelhadjhassin/gomycode/blob/main/chapitre2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:


first_name=input("first_name=")
last_name=input("last_name=")
fullname=first_name +" "+ last_name

fullname1=fullname[::-1]
print(fullname1)

first_name=hadil
last_name=belhadj
jdahleb lidah

In [2]:
x=int(input("Sample value of x is="))
x=x+x*11+x*111
print(x)

Sample value of x is=5
615

In [3]:
x=int(input("value of x is="))
if x%2==0:
  print("even")
else:
    print("odd")

value of x is=5
odd

In [13]:
for i in range(2000,3201,1):
  if (i%7==0 and i%5!=0):
    print(i , end=', ')

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

In [5]:
x=int(input("number="))
h=x
n=""
for i in range(1,x):
  x=x*i
  
  n+=str(i)+"*"
  
  
print(x)
ch=""
ch+=str(h)+"!"+"="+n+str(h)+"="+str(x)
print(ch)

number=4
24
4!=1*2*3*4=24

In [6]:
chaine=input()
ch=""
l=len(chaine)
for i in range(l):
  if i%2==0:
    ch=ch+chaine[i]
print(ch)

hadil
hdl

In [7]:
x=int(input("the price is="))
if x>=500:
  x=(x*50)/100
elif 200<=x<500:
  x=(x*30)/100
else:
  x=(x*10)/100
print("the value after discount =" ,x)

the price is=400
the value after discount = 120.0